.inventory-icon {
  background: center / contain no-repeat url('~@images/inventory/inventory-button.svg');
  height: 100%;
  width: 100%;
}

.profile-icon {
  background: center / contain no-repeat url('~@images/attributes/profile.svg');
  height: 100%;
  width: 100%;
}

$player-equipment: ("ring", "helmet", "necklace", "first-hand", "armor", "second-hand", "gloves", "pants", "shoes");

@each $itemType in $player-equipment {
  .#{$itemType}-icon {
    background: center / contain no-repeat url('~@images/inventory/#{$itemType}.svg');
  }
}
