.label {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.input {
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  font-size: 1rem;
  height: 32px;
  padding: 5px;
  width: 100%;

  &:focus-visible {
    outline: var(--background-color) auto 1px;
  }
}

.input_valid {
  outline: var(--success-color) auto 1px;

  &:focus-visible {
    outline: var(--success-color) auto 1px;
  }
}

.input_invalid {
  outline: var(--alert-color) auto 1px;

  &:focus-visible {
    outline: var(--alert-color) auto 1px;
  }
}

.error-message {
  color: var(--alert-color);
  font-size: 0.875rem;
  line-height: 1;
  margin: 0 0 5px;
  min-height: 0.875rem;
  text-align: left;
  visibility: hidden;
}

.error-message_visible {
  visibility: visible;
}
